<launch>
	<node name="stage" pkg="stage_ros" type="stageros"
			args="$(find lab6rev)/world/playground.world" />

	<node name="bug" pkg="lab6rev" type="bug2.py" output="screen" >
    	<param name="goalx" type="double" value="4.28" />
    	<param name="goaly" type="double" value="8.85" />
  	</node>


</launch>